<footer
          class="text-center text-lg-start text-white"
          style="background-color: #929fba"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">      
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text mb-4 font-weight-bold">
              Rent-A-Car-Service
            </h6>
            <p>
              Your one stop car rental service. You can count on our fast, friendly, worry free car rental service when you need us the most. We strive to satisfy our customer 100% or your mony back! Try us for your next vacation!!  
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">USA Airports</h6>
            <p>
              <a class="text-white" href="//www.orlandoairports.net">Car Rental Orlando</a>
            </p>
            <p>
              <a class="text-white" href="//www.flylax.com">Car Rental Los Angeles</a>
            </p>
            <p>
              <a class="text-white" href="//www.jfkairport.com">Car Rental New York</a>
            </p>
            <p>
              <a class="text-white" href="//www.flychicago.com">Car Rental Chicago</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>

          
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    
  </footer>
  <!-- Footer --> 

  <footer class="text-center text-lg-start" style="background-color: #db6930;">
    <div class="container d-flex justify-content-center py-3">
            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="//www.facebook.com"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="//www.twitter.com"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #34A853"
               href="//www.google.com"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="//www.instagram.com"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="//www.linkedin.com"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="//www.github.com"
               role="button"
               ><i class="fab fa-github"></i
              ></a>
            <!-- Youtube -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #d72323"
               href="//www.youtube.com"
               role="button"
               ><i class="fab fa-youtube"></i
              ></a>
          </div>
          <!-- Copyright -->
        <div class="text-center text-white pb-3" style="background-color: #db6930;">
          © 2022 Copyright:
          <a class="text-white" href="/">Rent-A-Car-Service.com</a>
        </div>
        <!-- Copyright -->
    </div>        
  </footer>
