{% extends 'sitemain/base.html' %}
{% load static %}

{% block content %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">        
        <div class="card-body">
          <h2 class="card-title text-center my-5">Extended Roadside Assistance</h2>
          <p class="card-text mb-5">For the ultimate safe driving experience, add Extended Roadside Assistance to your reservation. Extended Roadside Assistance will provide you with fast, reliable emergency road hazard assistance.</p>         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">        
        <div class="card-body">
          <h2 class="card-title text-center my-5">Accident & Loss Damage Insurance</h2>
          <p class="card-text mb-5">Protects you and your passengers with insurance and medical coverage, in case of an accident.    Offers Loss Damage, an option that relieves you of financial responsibility if the rental car is damaged or stolen.</p>         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">        
        <div class="card-body">
          <h2 class="card-title text-center my-5">Personal Effects Insurance</h2>
          <p class="card-text mb-5">Covers your personal belongings during your trip.</p>         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">        
        <div class="card-body">
          <h2 class="card-title text-center my-5">International Travelers Plan</h2>
          <p class="card-text mb-5">International renters covered for medical expenses resulting from sickness.</p>         
        </div>
      </div>
    </div>    
</div>
{% include 'sitemain/footer.html' %}


{% endblock content %}


